<main class="main">
  <div class="content">
    rxjs test
  </div>

  <div class="form-container">
    <form [formGroup]="form">
      <div class="form-field">
        <label>Id</label>
        <input type="text" formControlName="id">
      </div>

      <div class="form-field">
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>

      <div class="form-field">
        <label>Email</label>
        <input type="text" formControlName="email">
      </div>

      <div class="form-field">
        <label>Age</label>
        <input [disabled]="true" type="text" formControlName="age">
      </div>

      <div class="buttons">
        <button #saveButton class="save-button">Save</button>
      </div>
    </form>
  </div>

  <div class="search-container">
    <label>Search</label>
    <input #searchInput type="text">
  </div>


  <div class="fetch-container" style="margin-top: 25px">
    <mat-form-field class="fetch">
      <mat-label>Fetch data</mat-label>
      <input #fetchInput matInput/>
    </mat-form-field>
    <button #fetchButton mat-flat-button [disabled]="!fetchInput.value">
      Fetch!
    </button>
  </div>

  <form class="character-form" [formGroup]="characterForm">
    <mat-form-field>
      <mat-label>Character type</mat-label>
      <select matNativeControl required formControlName="characterType">
        @for(item of gameCharacter | keyvalue; track item.value) {
          <option [value]="item.value">{{ item.value }}</option>
        }
      </select>
    </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Color</mat-label>
        <input matInput placeholder="Color" formControlName="color">
      </mat-form-field>
    <button mat-flat-button (click)="createGameCharacter()">Create!</button>
  </form>

  <div>Created Character Name: {{ createdCharacter?.name }}</div>
  <div>Created Character Name: {{ createdCharacter?.color }}</div>
</main>


<router-outlet/>
